@keyframes pisca {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
}
.urna {
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
}
.screen {
  width: 520px;
  height: 420px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #e8e8e8, #c1c1c1);
  border: 2px solid #403a3a;
}
.keyboard {
  background-color: #403a3a;
  margin-left: 30px;
}
.keyboardLine {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.keyboardButton {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  box-shadow: 2px 2px 0px #555;
  border-radius: 10px;
}
.btnWhite,
.btnFix,
.btnConfirm {
  color: #000;
  font-size: 15px;
}
.btnWhite {
  background-color: #fff;
}
.btnFix {
  background-color: #f09046;
}
.btnConfirm {
  background-color: #48c079;
  width: 90px;
  height: 50px;
}
.up {
  flex: 1;
  display: flex;
}
.upLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-transform: capitalize;
}
.upLeft-1,
.upLeft-2 {
  height: 50px;
  display: flex;
  align-items: center;
}
.upLeft-2 {
  justify-content: center;
  font-size: 25px;
}
.upLeft-3 {
  height: 50px;
}
.numbers {
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid #000;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}
.pisca {
  animation-name: pisca;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.upLeft-4 {
  flex: 1;
  line-height: 30px;
}
.upRight {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.upRightImage {
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
}
.upRightImage img {
  width: 100%;
  height: 90px;
}
.upRightImage.small {
  width: 80%;
}
.down {
  height: 50px;
  font-size: 14px;
  border-top: 2px solid #000;
  padding-left: 10px;
  text-transform: capitalize;
  font-style: italic;
}
.down span {
  text-transform: uppercase;
  font-weight: bold;
}
